.myTableSearchBarDiv {
    margin-bottom: 5px;
    
    .Dropdown-root {
        border: 1px solid #000;
        padding: 5px;
        display: inline-block;

        .Dropdown-menu {
            position: absolute;
            z-index: 200;
            border: 1px solid #000;
            background-color: #eee;
            width: inherit;
            padding-left: 5px;
            padding-bottom: 5px;
            margin-top: 5px
        }

        .Dropdown-placeholder {
            display: inline-block;
        }

        .Dropdown-arrow-wrapper {
            float: right;
            margin-top: 2px;
        }
    }

    .searchValueDiv {
        display: inline-block;
        padding: 5px;
        border: 1px solid #000;
        margin-left: 10px;

        &.searchValueTextDiv {
            width: calc(75% - 215px);

            .searchTypeText {
                width: calc(100% - 70px);
                font-size: 16px;
                border: none;
                outline: none;
            }

            .searchFieldMatchCase {
                font-size: 16px;
                inline-size: 16px;
                position: relative;
                top: 3px;
                display:inline-block;
                cursor: pointer;
                margin-right: 5px;
                margin-left: 5px;
                color: #777;
            }

            .searchFieldMatchWholeWord {
                font-size: 16px;
                inline-size: 16px;
                position: relative;
                top: 3px;
                display:inline-block;
                cursor: pointer;
                margin-right: 5px;
                color: #777;
            }

            .searchFieldEnabled {
                color: #000;
                background-color: #add8e6;
            }

        }

        &.searchValueNumericDiv {
            width: calc(35% - 215px);

            .searchTypeNumeric {
                width: calc(100% - 22px);
                font-size: 16px;
                border: none;
                outline: none;
            }
        }

        .searchFieldClear {
            font-size: 16px;
            line-height: 16px;
            position: relative;
            top: 3px;
            display:inline-block;
            cursor: pointer;
        }
    }

    .searchValueDropdown {
        width: 400px;
        margin-left: 10px;

        .searchValueDropDown {
            color: #999;
            font-style: italic;
        }
        .Dropdown-menu {
            max-height: 310px;
            overflow-y: auto;
        }
    }

    .searchButton {
        margin-left: 10px;
        font-size: 16px;
        padding: 5px 15px;
        border-radius: 16px;
        outline: none;
    }

    .selectColumn {
        width: 200px;
    }
}
