.kits {
    margin: 15px;

    .header {
        height: 30px;
        position: relative;
        width: 80%;
        margin-bottom: 5px;

        .label {
            font-size: 24px;
            font-weight: bold;
            float: left;
        }

        .btn {
            float: right;

            .button {
                border-radius: 10px;
                width: 75px;
            }
        }
    }
}

.sort-by-asc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-bottom: solid 7px #F80;
    border-top-width: 0;
}

.sort-by-desc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-top: solid 7px #000; 
    border-bottom-width: 0;
}


.modalDialog {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    min-width: 20em;
    max-width: 70%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    transform: translate(-50%, -50%);
    outline: transparent; 
    font-size: 16px;

    .modalHeaderDiv {
        font-size: 24px;
        line-height: 1;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        padding-left: 10px;
        background-color: #d1d1d1;
    }

    hr {
        margin: 0;
    }

    .modalContentDiv {
        padding: 5px 10px 10px 10px;

        .contentLine {
            width: 100%;
            min-width: 400px;

            .contentEntry {
                display: inline-block;

                .entryLabel {
                    font-size: 13px;
                    line-height: 1;
                    font-weight: normal;
                    color: #32363f;
                    margin-bottom: 2px;
                }

                .entryValue {
                    font-size: 16px;
                    line-height: 1.1;
                    font-weight: normal;
                    color: #000;
                }
            
                &:not(:first-child) {
                    margin-top: 10px;
                }

                &:first-child {
                    margin-top: 5px;
                }
            }
        }
    }

    .modalBtnDiv {
        padding: 10px;

        .btnRightDiv {
            text-align: right;
        }
    }

    &.detailsDialog {
        .itemNumber {
            width: 70px;
            padding-right: 10px;
        }

        .theme {
            width: calc(100% - 80px);
        }

        .location {
            width: 200px;
            padding-right: 10px;
        }

        .quality {
            width: 45px;
            padding-right: 10px;

        }

        .built {
            width: 50px;
        }

        .year {
            width: 35%;
        }

        .numParts {
            width: 35%;
        }
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
}